*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background-color: black;
}
.text
{
  font-size: 30px;
  color: white;
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-decoration: none;
}
.image
{
  display: block;
  width: 100%;
  height: auto;

}
.conatiner:hover .overlay
{
   width: 100%;
   left: 0;
}
.overlay
{
   position: absolute;
   bottom: 50px;
   left: 100%;
   right: 0;
   background-color: #008cba;
   overflow: hidden;
   width: 0;
   height: 60%;
   transition: 4s ease;
}
h1
{
  text-align: center;
  color: white;
  font-size: 40px;
}
a
{
  text-decoration: none;
  color: black;
  font-size: 50px;
}